:root {
	--breadcrumb-font-size : 15px;
}

@media (max-width: 992px) {
	.container-header .grid-child {
		padding: 0.1em !important;
	}
}

@media (min-width: 1200px) {
	.navbar-expand-lg .navbar-collapse .container-header .navbar-brand {
		margin-left: -10px;
	}
	div.com-content-article, div.item-content, div.blog-items {
		margin-left : 15px;
	}
	.container-header .navbar-brand {
		margin-left: 10px;
	}
	.container-header {
		background: #fafafa url('http://images.jltryoen.fr/headbg.jpg') top left no-repeat fixed !important;
	}
}

body.site, div.site-grid {
	border-top: 3px solid #0088cc;
	border-top-width: 0 !important;
	background: #fafafa !important;
	background-image: url("/images/headbg.jpg") top left no-repeat  !important;
}



.footer {
	color: unset !important;
	background-color: unset !important;
	background-image:  unset !important;
}

li.metismenu-item {
  color: black !important;
  font-size : 1em !important;
}
li.metismenu-item > a {
	color: #145889 !important; 
	font-weight: 500 !important;
}
.container-header .metismenu > li > a::after, .container-header .metismenu > li > button::before {
	opacity: .8;
	height: 3px;
}


.metismenu.mod-menu .metismenu-item {
	align-items: center;
	padding: .5em .5em;
}
.metismenu.mod-menu .mm-toggler::after {
	border-top: .4em solid;
	border-left: .4em solid #0000;
	border-right: .4em solid #0000;
	margin-inline-start: .2em;
	transition: all .3s ease-out;
}

ul.nav-tabs > .metismenu-item.active > a {
	background: color-mix(in srgb,currentColor,#fff 50%);
}

.container-header .navbar-toggler {
  color: #000!important;
}

.site-grid > .full-width {
	grid-column: unset !important;
}

.mod-custom {
	width: 100% !important;
}

a
{
	text-decoration: none!important;
}




.column-1, .column-2
{
	border:solid 1px #ddd;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
}

h1 {
	border-bottom: none!important;
	font-weight: 600!important;
}
h2 {
	line-height: 34px!important;
	border-bottom: 1px solid #a2a9b1 !important;
	font-weight: 600!important;
}


h3 {
	line-height: 20px;
	border-bottom: none!important;
	font-weight: 600!important;
}

h4 {
	font-size :14px! important;
	font-weight: 600!important;
}

h5 {
	font-size :12px! important;
	font-weight: 600!important;
}


h4, h5, h6 {
	border-bottom: none !important;
	margin: 8px 0 6px 0!important;
}

.btn-info {
	background-color: #138496;
	border-color: #117a8b;
}


/* Offcanvas overwrite */
@media (min-width: 992px) {
  .offcanvas-start {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .offcanvas .metismenu.mod-menu .metismenu-item > ul {
    position: relative;
    width: 100%;
    margin-top: 1rem;
  }
  .offcanvas .metismenu.mod-menu .mm-collapse {
    background-color: transparent;
  }
  .offcanvas .metismenu.mod-menu .metismenu-item > a {
    color: #fff;
  }
  [id*="nav"] {
	transition: 0.8s ease;
	background-color: var(--headerbg);
  }
  
}
.offcanvas-header > *:only-child {
  margin-left: auto;
}


/* plugin Table of content ck */
.table-of-contents-ck-wrap {
	border-style: dotted;
	border-width: 1px;
	position: absolute;
	right: 20%;
	top: 10%;
	z-index: 2000;
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	font-size: 95%;
}

@media only screen and (max-width: 767px) {
  /* Styles pour les appareils mobiles */
  .table-of-contents-ck-wrap {
	  visibility: hidden;
  }
}

/* plugin Slideshow CK */
.slideshowck {
	padding-top: 30px!important;
}

/* SchuWeb_Sitemap component*/
#xmap ul,
#xmap li,
#SchuWeb_Sitemap ul,
#SchuWeb_Sitemap li
{	
	list-style: none;
}


#xmap a,
#SchuWeb_Sitemap a
{
	background: transparent url(/images/world_link.png) center left no-repeat;
	padding-left: 20px;
	background-size:16px;
	display: inline-block;
}


/* JComment component*/
.comments-link,a.comments-link  {
	background-image: url("../images/comment.png") !important;
	background-position: 0px, 0px!important;
	background-repeat: no-repeat;
	padding: 30px 2px 20px 50px !important;
	display:block;
}

.comments-readmore {
	padding-left: 0px!important;
	margin-left : -5px;
}



/* geshi plugin */
div.mw-geshi, div.syntaxhighlighter {
	border: 1px dashed #2F6FAB!important;
	margin:  5px;
	padding: 5px;
	background-color: #FFFFFF !important!important;
	font-size: 11px !important;
}






