.position-sticky
{
	z-index: 10000; /* Assure que le header reste au-dessus du contenu */
}

@media (max-width: 992px) {
	.container-header .grid-child {
		padding: 0.1em !important;
	}
}

@media (min-width: 1200px) {
	div.com-content-article, div.item-content, div.blog-items {
		margin-left : 10px;
	}
	.container-header .navbar-brand , ul.nav-tabs{
		margin-left: 10px!important;
	}
	.container-header {
		background: #fafafa url('../images/headbg.jpg') top left no-repeat fixed !important;
	}
}

li.metismenu-item {
  font-size : 1em !important;
}

ul.nav-tabs > li.metismenu-item {
	display: inline !important;
}

.container-header .metismenu > li > a::after, .container-header .metismenu > li > button::before {
	opacity: .8;
	height: 3px;
}

figure {
  margin: 1em;
}

.metismenu.mod-menu .metismenu-item {
	align-items: center;
	padding: .5em .5em!important;
}
.metismenu.mod-menu .mm-toggler::after {
	border-top: .4em solid;
	border-left: .4em solid #0000;
	border-right: .4em solid #0000;
	margin-inline-start: .2em;
	transition: all .3s ease-out;
}

.site-grid > .full-width {
	grid-column: unset !important;
}

.mod-custom {
	width: 100% !important;
}

a
{
	text-decoration: none!important;
}

small, .small {
	font-size: .8em;
}

.blog-item, .column-1
{
	border:solid 1px #ddd;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	margin-bottom: 10px;
	padding-left: 5px!important;
	padding-bottom: 15px;
	padding-top: 10px!important;
}


/* Offcanvas overwrite */
@media (min-width: 992px) {
  .offcanvas-start {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .offcanvas .metismenu.mod-menu .metismenu-item > ul {
    position: relative;
    width: 100%;
    margin-top: 1rem;
  }
  .offcanvas .metismenu.mod-menu .mm-collapse {
    background-color: transparent;
  }
  .offcanvas .metismenu.mod-menu .metismenu-item > a {
    color: #fff;
  }
  [id*="nav"] {
	transition: 0.8s ease;
	background-color: var(--headerbg);
  }
  
}
.offcanvas-header > *:only-child {
  margin-left: auto;
}
/* end of Offcanvas overwrite */







